*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

#main-header{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;;
}

.header-item{
    display: flex;
    justify-content: space-between;
}
.header-item a{
    text-decoration: none;
    font-weight: 700;
font-size: 45px;
color: #131313;
}
.header-item ul{
    display: flex;
    align-items: center;
}
.header-item ul li{
list-style: none;
margin-right: 30px;
trasition: all linear .9s;
}
.header-item ul li:last-child{
    margin-right: 0;
}
.header-item ul li:hover a{
    color: #FF900E;
}
.header-item ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;

text-align: center;
text-transform: capitalize;
color: #131313;
}
.banner-item{
    margin-top: 100px;
    text-align: center;
}
.banner-item h1{
    font-weight:700px;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-bottom: 30px;
}
.banner-item p{
    font-weight:400px;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 865px;
    margin: 0 auto;
}
.btn{
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 21px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}
.btn a {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}